@use "../../../src/scss/modules/vars" as *;

.s-curve {
	.entries {
		gap: 6rem;
		@media ( max-width: $tablet_wide ) {
			gap: 5rem;
		}
		@media ( max-width: $mobile_wide ) {
			gap: 3rem;
		}
	}
	.entry {
		align-items: center;
		@media ( max-width: $mobile_wide ) {
			flex-direction: column;
		}
		&:nth-child(odd) {
			flex-direction: row-reverse;
			@media ( max-width: $mobile_wide ) {
				flex-direction: column;
			}
		}
	}
	.graphic {
		width: calc( 60% - 2rem );
	}
	.context {
		width: calc( 40% - 2rem );
	}
	.graphic ,
	.context {
		@media ( max-width: $tablet_wide ) {
			width: calc( 50% - 1rem );
		}
		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
	}
}