<section class="prefooter spacing-top-small spacing-bottom-small">
	<div class="container">
		${footerFootnote|html}
	</div>
</section>
</footer><footer class="footer">
	<div class="container">
		<div class="flex justify-between">
			<div class="brand">
				<div class="brand-logo">
					<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/CS_logo_Primary.svg?version=1" alt="CrowdStrike Logo" loading="lazy" />
				</div>
			</div>
			<div class="footer-nav">
				<ul class="flex list-style-none stack-on-mobile">
					<li>Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script></li>
					<li><a href="https://www.crowdstrike.com/en-us/contact-us/">Contact Us</a></li>
					<li><a href="https://www.crowdstrike.com/en-us/legal/privacy-notice/">Privacy</a></li>
					<li><a href="https://www.crowdstrike.com/en-us/legal/cookie-notice/">Cookies</a></li>
					<li><a href="https://privacyportal.onetrust.com/ui/#/preferences/multipage/login/e5019602-7124-4242-8f7c-d1571d0c467d" class="privacy-link">Your Privacy Choices <img class="cmp-list__item-link__icon" src="https://assets.crowdstrike.com/is/content/crowdstrikeinc/privacyoptions-icon-footer" alt="Your Privacy Choices" loading="lazy"></a></li>
					<li><a href="https://www.crowdstrike.com/en-us/legal/website-terms-of-use/">Terms of Use</a></li>
					<li><a href="https://www.crowdstrike.com/en-us/pricing/#">Accessibility</a></li>
				</ul>
			</div>
			<div class="footer-social">
				<ul class="flex list-style-none ">
					<li>
						<a href="https://www.linkedin.com/company/crowdstrike" target="_blank">
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-linkedin.svg?version=1" alt="Linkedin" loading="lazy" />
						</a>
					</li>
					<li>
						<a href="https://x.com/intent/follow?screen_name=CrowdStrike" target="_blank">
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-x.svg?version=1" alt="X" loading="lazy" />
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/crowdstrike/?hl=en" target="_blank">
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-instagram.svg?version=1" alt="Instagram" loading="lazy" />
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/subscription_center?add_user=crowdstrike" target="_blank">
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-youtube.svg?version=1" alt="YouTube" loading="lazy" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script data-build="js-footer"></script>