@use "vars" as *;

%arrow-right-white {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.07144 6L11.0714 6' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.07144 10L11.0714 6L7.07144 2' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
%arrow-right-black {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.07144 6L11.0714 6' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.07144 10L11.0714 6L7.07144 2' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
%arrow-external-white {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_31_937)'%3E%3Cpath d='M11.6587 4.58209C11.6586 4.99617 11.3228 5.33209 10.9087 5.33209C10.4948 5.3319 10.1589 4.99605 10.1587 4.58209V2.90143L7.07573 5.98444C6.78284 6.27733 6.30808 6.27733 6.01518 5.98444C5.72247 5.69153 5.72235 5.21672 6.01518 4.92389L9.09819 1.84088H7.4185C7.00429 1.84088 6.6685 1.50509 6.6685 1.09088C6.6685 0.676668 7.00429 0.340881 7.4185 0.340881H10.9087C11.1076 0.340882 11.2984 0.420069 11.439 0.560608C11.5797 0.701259 11.6587 0.891971 11.6587 1.09088V4.58209Z' fill='white'/%3E%3Cpath d='M0.340866 9.9093V3.18176C0.340867 2.21527 1.12437 1.43176 2.09087 1.43176H5.03032C5.44451 1.43179 5.78032 1.76757 5.78032 2.18176C5.78032 2.59596 5.44451 2.93173 5.03032 2.93176H2.09087C1.9528 2.93176 1.84087 3.04369 1.84087 3.18176V9.9093C1.84101 10.0472 1.95288 10.1593 2.09087 10.1593H8.81841C8.95627 10.1592 9.06826 10.0472 9.06841 9.9093V6.96985C9.06841 6.55563 9.40419 6.21985 9.81841 6.21985C10.2325 6.21999 10.5684 6.55572 10.5684 6.96985V9.9093C10.5683 10.8756 9.78469 11.6592 8.81841 11.6593H2.09087C1.12446 11.6593 0.34101 10.8757 0.340866 9.9093Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_31_937'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
%arrow-external-black {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_31_937)'%3E%3Cpath d='M11.6587 4.58209C11.6586 4.99617 11.3228 5.33209 10.9087 5.33209C10.4948 5.3319 10.1589 4.99605 10.1587 4.58209V2.90143L7.07573 5.98444C6.78284 6.27733 6.30808 6.27733 6.01518 5.98444C5.72247 5.69153 5.72235 5.21672 6.01518 4.92389L9.09819 1.84088H7.4185C7.00429 1.84088 6.6685 1.50509 6.6685 1.09088C6.6685 0.676668 7.00429 0.340881 7.4185 0.340881H10.9087C11.1076 0.340882 11.2984 0.420069 11.439 0.560608C11.5797 0.701259 11.6587 0.891971 11.6587 1.09088V4.58209Z' fill='white'/%3E%3Cpath d='M0.340866 9.9093V3.18176C0.340867 2.21527 1.12437 1.43176 2.09087 1.43176H5.03032C5.44451 1.43179 5.78032 1.76757 5.78032 2.18176C5.78032 2.59596 5.44451 2.93173 5.03032 2.93176H2.09087C1.9528 2.93176 1.84087 3.04369 1.84087 3.18176V9.9093C1.84101 10.0472 1.95288 10.1593 2.09087 10.1593H8.81841C8.95627 10.1592 9.06826 10.0472 9.06841 9.9093V6.96985C9.06841 6.55563 9.40419 6.21985 9.81841 6.21985C10.2325 6.21999 10.5684 6.55572 10.5684 6.96985V9.9093C10.5683 10.8756 9.78469 11.6592 8.81841 11.6593H2.09087C1.12446 11.6593 0.34101 10.8757 0.340866 9.9093Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_31_937'%3E%3Crect width='12' height='12' fill='black'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
%arrow-down-white {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.07141 1L6.07141 11' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.07141 7L6.07141 11L10.0714 7' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
%arrow-down-black {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.07141 1L6.07141 11' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.07141 7L6.07141 11L10.0714 7' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
%arrow-up-white {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.07141 11L6.07141 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.07141 5L6.07141 1L10.0714 5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
%arrow-up-black {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.07141 11L6.07141 1' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.07141 5L6.07141 1L10.0714 5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.cta {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 11px 15px;
	border: 1px var(--red100) solid;
	background-color: var(--red100);
	border-radius: 8px;
	color: var(--white);
	font-family: 'HaasGrotDisp';
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
	@media ( max-width: $mobile_wide ) {
		font-size: 14px;
		padding: 5px 7px;
		border-radius: 6px;
	}
	&:hover {
		border-color: #B52026;
		background-color: #B52026;
	}
	&.arrow {
		&:after {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-left: 0.5rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@extend %arrow-right-white;
		}
	}
	&.arrow-external {
		&:after {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-left: 0.5rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@extend %arrow-external-white;
		}
	}
	&.arrow-down {
		&:after {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-left: 0.5rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@extend %arrow-down-white;
		}
	}
	&.arrow-up {
		&:after {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-left: 0.5rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@extend %arrow-up-white;
		}
	}
	&.secondary {
		color: var( --black );
		border-color: var( --black );
		background-color: transparent;
		&:hover {
			color: var( --white );
			background-color: var( --black );
			&.arrow {
				&:after {
					@extend %arrow-right-white;
				}
			}
			&.arrow-external {
				&:after {
					@extend %arrow-external-white;
				}
			}
			&.arrow-down {
				&:after {
					@extend %arrow-down-white;
				}
			}
			&.arrow-up {
				&:after {
					@extend %arrow-up-white;
				}
			}
		}
		&.arrow {
			&:after {
				@extend %arrow-right-black;
			}
		}
		&.arrow-external {
			&:after {
				@extend %arrow-external-black;
			}
		}
		&.arrow-down {
			&:after {
				@extend %arrow-down-black;
			}
		}
		&.arrow-up {
			&:after {
				@extend %arrow-up-black;
			}
		}
	}
	.light & {
		&.secondary {
			color: var( --white );
			border-color: var( --white );
			&:hover {
				color: var( --black );
				background-color: var( --white );
				&.arrow {
					&:after {
						@extend %arrow-right-black;
					}
				}
				&.arrow-external {
					&:after {
						@extend %arrow-external-black;
					}
				}
				&.arrow-down {
					&:after {
						@extend %arrow-down-black;
					}
				}
				&.arrow-up {
					&:after {
						@extend %arrow-up-black;
					}
				}
			}
			&.arrow {
				&:after {
					@extend %arrow-right-white;
				}
			}
			&.arrow-external {
				&:after {
					@extend %arrow-external-white;
				}
			}
			&.arrow-down {
				&:after {
					@extend %arrow-down-white;
				}
			}
			&.arrow-up {
				&:after {
					@extend %arrow-up-white;
				}
			}
		}
	}
}

.cta-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}
