@font-face {
	font-family: 'HaasGrotDisp';
	src: url("/fonts/NeueHaasGrotDisp-Roman.woff2") format("woff2"), 
		url('https://go.crowdstrike.com/rs/281-OBQ-266/images/NeueHaasGrotDisp-Roman.woff2?version=1') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HaasGrotDispMdm';
	src: url("/fonts/NeueHaasGrotDisp-Medium.woff2") format("woff2"), 
		url('https://go.crowdstrike.com/rs/281-OBQ-266/images/NeueHaasGrotDisp-Medium.woff2?version=1') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CrowdSansBold';
	src: url("/fonts/CrowdstrikeSharpSans-Bold.woff2") format("woff2"), 
		url('https://go.crowdstrike.com/rs/281-OBQ-266/images/CrowdstrikeSharpSans-Bold.woff2?version=1') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CrowdSansThin';
	src: url("/fonts/CrowdstrikeSharpSans-Thin.woff2") format("woff2"), 
		url('https://go.crowdstrike.com/rs/281-OBQ-266/images/CrowdstrikeSharpSans-Thin.woff2?version=1') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CrowdSansBook';
	src: url("/fonts/CrowdstrikeSharpSans-Book.woff2") format("woff2"), 
		url('https://go.crowdstrike.com/rs/281-OBQ-266/images/CrowdstrikeSharpSans-Book.woff2?version=1') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CrowdSansMed';
	src: url("/fonts/CrowdstrikeSharpSans-Mdm.woff2") format("woff2"), 
		url('https://go.crowdstrike.com/rs/281-OBQ-266/images/CrowdstrikeSharpSans-Mdm.woff2?version=1') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}