@use "vars" as *;

body {
	background: var(--grey100);
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	padding: 78px 0 0;
}

section {
	position: relative;
	background: none no-repeat center center;
	background-size: cover;

	padding: 6rem 0;
	@media ( max-width: $tablet_wide ) {
		padding: 5rem 0;
	}
	@media ( max-width: $mobile_wide ) {
		padding: 3rem 0;
	}
	&.spacing-top-xlarge {
		padding-top: 12rem;
		@media ( max-width: $tablet_wide ) {
			padding-top: 10rem;
		}
		@media ( max-width: $mobile_wide ) {
			padding-top: 6rem;
		}
	}
	&.spacing-bottom-xlarge {
		padding-bottom: 12rem;
		@media ( max-width: $tablet_wide ) {
			padding-bottom: 10rem;
		}
		@media ( max-width: $mobile_wide ) {
			padding-bottom: 6rem;
		}
	}
	&.spacing-top-large {
		padding-top: 10rem;
		@media ( max-width: $tablet_wide ) {
			padding-top: 8rem;
		}
		@media ( max-width: $mobile_wide ) {
			padding-top: 4rem;
		}
	}
	&.spacing-bottom-large {
		padding-bottom: 10rem;
		@media ( max-width: $tablet_wide ) {
			padding-bottom: 8rem;
		}
		@media ( max-width: $mobile_wide ) {
			padding-bottom: 4rem;
		}
	}
	&.spacing-top-small {
		padding-top: 3rem;
		@media ( max-width: $tablet_wide ) {
			padding-top: 2rem;
		}
		@media ( max-width: $mobile_wide ) {
			padding-top: 1rem;
		}
	}
	&.spacing-bottom-small {
		padding-bottom: 3rem;
		@media ( max-width: $tablet_wide ) {
			padding-bottom: 2rem;
		}
		@media ( max-width: $mobile_wide ) {
			padding-bottom: 1rem;
		}
	}
	&.spacing-top-none {
		padding-top: 0;
	}
	&.spacing-bottom-none {
		padding-bottom: 0;
	}
}

.container {
	margin: 0 1rem;
	@media (min-width: $tablet_wide) {
		margin: 0 auto;
		max-width: 1360px;
		padding: 0 2rem;
	}
	@media (min-width: $desktop_wide) {
		padding: 0;
	}
}

img {
	display: block;
	height: auto;
	width: 100%;
}

.heading-center {
	max-width: 1024px;
	text-align: center;
	margin: 0 auto;
}

.multi-background {
	--background-image: none;
	--background-image-tablet: var( --background-image );
	--background-image-mobile: var( --background-image );
	background-image: var( --background-image );
	@media ( max-width: $tablet_wide ) {
		background-image: var( --background-image-tablet );
	}
	@media ( max-width: $mobile_wide ) {
		background-image: var( --background-image-mobile );
	}
}

.has-radius {
	border-radius: 32px;
	overflow: hidden;
	@media ( max-width: $tablet_wide ) {
		border-radius: 24px;
	}
	@media ( max-width: $mobile_wide ) {
		border-radius: 16px;
	}
}

.has-gradient-line {
	position: relative;
	&:after {
		position: absolute;
		left: 0;
		top: 100%;
		height: 2px;
		width: 100%;
		background: var(--gradient-horizontal-primary);  
		content: "";
	}
}

.flex {
	display: flex;
}
.flex-v {
	display: flex;
	flex-direction: column;
}

.gap-1 {
	gap: 1rem;
}
.gap-15 {
	gap: 1.5rem;
	@media ( max-width: $tablet_wide ) {
		gap: 1rem;
	}
}
.gap-2 {
	gap: 2rem;
	@media ( max-width: $tablet_wide ) {
		gap: 1rem;
	}
}
.gap-4 {
	gap: 4rem;
	@media ( max-width: $tablet_wide ) {
		gap: 2rem;
	}
}

.thirds {
	box-sizing: border-box;
	width: calc(33.333% - (2rem * 2 / 3));
	@media ( max-width: $tablet_wide ) {
		width: calc( 50% - .5rem );
	}
	@media ( max-width: $mobile_wide ) {
		width: 100%;
	}
}





.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}


.list-style-none {
	list-style: none;
}

