:root {
	--black: #000;
	--white: #fff;
	--grey100: #F8F8F8;
	--grey200: #949494;
	--grey300: #ccc;
	--grey400: #707070;
	--red100: #ec0000;
	--gradient-horizontal-primary: linear-gradient(90deg, #EC0000 0%, #0024FF 100%);
}