h1, h2, h3, h4, h5, p, li, button {
	text-box: trim-both cap alphabetic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'CrowdSansBold', sans-serif;
}

button {
	font-family: 'HaasGrotDisp', sans-serif;
}

h1 {
	font-size: 2.5rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}

@media (min-width: 1025px) {
	h1 {
		font-size: 3.5rem;
	}
}

h2 {
	margin: 0;
	font-size: 2rem;
}

@media (min-width: 768px) {
	h2 {
		font-size: 2.5rem;
	}
}

@media (min-width: 1025px) {
	h2 {
		font-size: 3rem;
	}
}

h3 {
	margin: 0;
	font-size: 1.5rem;
}

@media (min-width: 768px) {
	h3 {
		font-size: 2rem;
	}
}

@media (min-width: 1025px) {
	h3 {
		font-size: 2.5rem;
	}
}

h4 {
	font-size: 1.5rem;
}

@media (min-width: 768px) {
	h4 {
		font-size: 1.65rem;
	}
}

@media (min-width: 1025px) {
	h4 {
		font-size: 2rem;
	}
}

h5 {
	margin: 0;
	font-size: 1.15rem;
}

@media (min-width: 768px) {
	h5 {
		font-size: 1.25rem;
	}
}

@media (min-width: 1025px) {
	h5 {
		font-size: 1.5rem;
	}
}