<li>
	<button data-tippy-content="${productsFeatureNextGenTooltip}">${productsFeatureNextGenTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureDeviceControlTooltip}">${productsFeatureDeviceControlTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureMobileDeviceProtectionTooltip}">${productsFeatureMobileDeviceProtectionTitle}</button>
</li>
<li>
	<span>${productsFeatureFirewallManagementTitle}</span>
</li>
<li>
	<span>${productsFeatureEndpointDetectionResponseTitle}</span>
</li>
<li>
	<span>${productsFeatureThreatIntelligenceTitle}</span>
</li>
<li>
	<span>${productsFeatureIdentityProtectionTitle}</span>
</li>
<li>
	<span>${productsFeatureITHygieneTitle}</span>
</li>
<li>
	<span>${productsFeatureNextGenSIEMTitle}</span>
</li>
<li>
	<button data-tippy-content="${productsFeatureExpressSupportTooltip}">${productsFeatureExpressSupportTitle}</button>
</li>