<li>
	<button data-tippy-content="${productsFeatureNextGenTooltip|attr}">${productsFeatureNextGenTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureDeviceControlTooltip|attr}">${productsFeatureDeviceControlTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureMobileDeviceProtectionTooltip|attr}">${productsFeatureMobileDeviceProtectionTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureFirewallManagementTooltip|attr}">${productsFeatureFirewallManagementTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureEndpointDetectionResponseTooltip|attr}">${productsFeatureEndpointDetectionResponseTitle}</button>
</li>
<li>
	<button data-tippy-content="${productsFeatureThreatIntelligenceTooltip|attr}">${productsFeatureThreatIntelligenceTitle}</button>
</li>
<li>
	<span>${productsFeatureIdentityProtectionTitle}</span>
</li>
<li>
	<span>${productsFeatureITHygieneTitle}</span>
</li>
<li>
	<span>${productsFeatureNextGenSIEMTitle}</span>
</li>
<li>
	<button data-tippy-content="${productsFeatureExpressSupportTooltip|attr}">${productsFeatureExpressSupportTitle}</button>
</li>