<section class="case-study">
	<div class="container flex-v gap-4">
		<div class="heading-center flex-v gap-2">
			<h2 class="crowdsans crowdsansbold w_700 s_48 lh_125">${caseStudyHeading|html}</h2>
		</div>
		<div class="card flex gap-4 has-radius">
			<div class="context flex-v gap-15">
				<div class="quote flex-v gap-15">
					<h3 class="crowdsans crowdsansbold w_700 s_32 lh_125">${caseStudyQuoteHeading|html}</h3>
					<div class="crowdsans haasgrotdisp s_24 lh_125">${caseStudyQuote|html}</div>
				</div>
				<div class="attribution flex-v gap-1">
					<div class="crowdsans haasgrotdisp s_16 w_600 lh_125">${caseStudyAttribution|html}</div>
					<img src="${caseStudyLogo}|attr" alt="" loading="lazy" />
				</div>
				<div class="cta-wrap">
					<a href="${caseStudyCtaURL|attr}" class="cta ${caseStudyCtaClass|boolean}">${caseStudyCtaText}</a>
				</div>
			</div>
			<div class="graphic" style="background-image: url( ${caseStudyImage|attr} );"></div>
		</div>
	</div>
</section>