@use "../../../src/scss/modules/vars" as *;

.case-study {
	.card {
		background: #FFFFFF;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		@media ( max-width: $mobile_wide ) {
			flex-direction: column-reverse;
			gap: 0;
		}
	}
	.context ,
	.graphic {
		box-sizing: border-box;
		width: calc( 50% - 2rem );
		@media ( max-width: $tablet_wide ) {
			width: calc( 50% - 1rem );
		}
		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
	}
	.context {
		padding: 3rem 0 3rem 3rem;
		@media ( max-width: $mobile_wide ) {
			padding: 2rem 1.5rem;
		}
	}
	.graphic {
		background-position: center center;
		background-size: cover;
		@media ( max-width: $mobile_wide ) {
			aspect-ratio: 16 / 9;
		}
	}
	.attribution {
		margin-top: 1rem;
		align-items: flex-start;
		img {
			width: auto;
			height: 40px;
		}
	}
}