@use "../../../src/scss/modules/vars" as *;

.case-study {
	.container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		@media ( max-width: $tablet_wide ) {
			gap: 2rem;
		}
	}
	.heading {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 1024px;
		text-align: center;
		margin: 0 auto;
		@media ( max-width: $tablet_wide ) {
			gap: 1rem;
		}
	}
	.card {
		background: #FFFFFF;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		display: flex;
		gap: 4rem;
		@media ( max-width: $tablet_wide ) {
			gap: 2rem;
		}
		@media ( max-width: $mobile_wide ) {
			flex-direction: column-reverse;
			gap: 0;
		}
	}
	.context ,
	.graphic {
		box-sizing: border-box;
		width: calc( 50% - 2rem );
		@media ( max-width: $tablet_wide ) {
			width: calc( 50% - 1rem );
		}
		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
	}
	.context {
		padding: 3rem 0 3rem 3rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		@media ( max-width: $mobile_wide ) {
			padding: 3rem 1.5rem;
		}
	}
	.graphic {
		background-position: center center;
		background-size: cover;
		@media ( max-width: $mobile_wide ) {
			aspect-ratio: 16 / 9;
		}
	}
	.quote {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	.attribution {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;
		img {
			width: auto;
			height: 40px;
		}
	}
}