@use "../../../src/scss/modules/vars" as *;

.whats-new {
	.cards {
		flex-wrap: wrap;
	}
	.card {
		justify-content: space-between;
		padding: 40px 32px;
		background: #FFFFFF;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		@media ( max-width: $tablet_wide ) {
			padding: 32px 24px;
		}
		img {
			height: 64px;
			width: auto;
		}
	}
	h3 {
		padding-bottom: 1.5rem;
		@media ( max-width: $tablet_wide ) {
			padding-bottom: 1rem;
		}
	}
}