.video-container {
	margin: 32px auto 0;
	border-radius: 32px;
	overflow: hidden;
	@media (min-width: 768px) {
		margin-top: 64px;
	}
	@media (min-width: 1030px) {
		max-width: 1030px;
		margin: 72px auto 0;
	}
}

.video-card {
	position: relative;
	max-width: 100%;
	aspect-ratio: 16/9;
	img,
	iframe {
		width: 100%;
		height: 100%;
		display: block;
		border: 0;
		border-radius: 12px;
		object-fit: cover;
	}
}

.video-play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 83px;
	height: 83px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: rgba(0, 0, 0, 0.45);
	display: grid;
	place-items: center;
	cursor: pointer;
	z-index: 2;
	&:before {
		content: "";
		width: 0;
		height: 0;
		border-left: 22px solid #fff;
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		margin-left: 3px;
	}
}
