<section class="callout spacing-top-none spacing-bottom-none">
	<div class="container">
		<div class="card flex gap-2 light has-radius">
			<div class="context flex-v gap-15">
				<h2 class="crowdsans crowdsansbold w_700 s_32 lh_125">${callout2Heading|html}</h2>
				<div class="crowdsans haasgrotdisp s_16 lh_125">${callout2Blurb|html}</div>
				<div class="cta-wrap">
					<a href="${callout2CtaURL|attr}" class="cta ${callout2CtaClass|boolean}">${callout2CtaText}</a>
				</div>
			</div>
			<div class="graphic" style="background-image: url( ${callout2Image|attr} );"></div>
		</div>
	</div>
</section>