.faqs-header {
	position: relative;
	margin-bottom: 2rem;
	padding-bottom: 2.5rem;
	&:after {
		position: absolute;
		left: 0;
		top: 100%;
		height: 2px;
		width: 100%;
		background: var(--gradient-horizontal-primary);  
		content: "";
	}
}

.faqs-item {
	margin-bottom: 0.5rem;
	padding: 1.25rem;
	background: var(--white);
	@media (min-width: 768px) {
		padding: 2rem;
	}
	.faqs-answer {
		display: none;
	}
	&.expanded {
		.faqs-answer {
			display: block;
		}
		.faqs-icon {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOC42NjciIGhlaWdodD0iMjguNjY3IiB2aWV3Qm94PSIwIDAgMjguNjY3IDI4LjY2NyI+CiAgPGcgaWQ9Ikljb24tTGciIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjY2NyAtMS42NjcpIj4KICAgIDxwYXRoIGlkPSJQYXRoXzEiIGRhdGEtbmFtZT0iUGF0aCAxIiBkPSJNMTYsMjkuMzMzQTEzLjMzMywxMy4zMzMsMCwxLDAsMi42NjcsMTYsMTMuMzMzLDEzLjMzMywwLDAsMCwxNiwyOS4zMzNaIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+CiAgICA8cGF0aCBpZD0iUGF0aF8yIiBkYXRhLW5hbWU9IlBhdGggMiIgZD0iTTkuODQ2LDE2SDIyLjE1NCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPgogIDwvZz4KPC9zdmc+Cg==");
		}
	}
}

.faqs-question {
	button {
		display: flex;
		align-items: flex-start;
		padding: 0;
		width: 100%;
		background: none;
		border: none;
		color: var(--black);
		cursor: pointer;
		font-family: 'CrowdSansBold', sans-serif;
		font-size: 1.25rem;
		font-weight: 700;
		text-align: left;
		@media (min-width: 768px) {
			font-size: 1.5rem;
		}
	}
}

.faqs-icon {
	height: 2rem;
	width: 2rem;
	min-height: 2rem;
	min-width: 2rem;
	margin-left: 1rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDI5LjMzMzJDMjMuMzYzOSAyOS4zMzMyIDI5LjMzMzMgMjMuMzYzNyAyOS4zMzMzIDE1Ljk5OThDMjkuMzMzMyA4LjYzNjA0IDIzLjM2MzkgMi42NjY1IDE2IDIuNjY2NUM4LjYzNjE2IDIuNjY2NSAyLjY2NjYzIDguNjM2MDQgMi42NjY2MyAxNS45OTk4QzIuNjY2NjMgMjMuMzYzNyA4LjYzNjE2IDI5LjMzMzIgMTYgMjkuMzMzMloiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik05Ljg0NjA3IDE2SDIyLjE1MzgiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xNiA5Ljg0NjE5TDE2IDIyLjE1MzkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
	background-position: center center;
	background-repeat: no-repeat;
}

.faqs-answer {
	p,
	li {
		margin: 1rem 0 0;
		max-width: 1100px;
		font-size: 1rem;
		line-height: 1.25;
		@media (min-width: 768px) {
			font-size: 1.25rem;
		}
	}
	ol {
		margin: 20px;
		padding: 0;
	}
	li {
		padding-bottom: 6px;
	}
	li a ,
	p a{
		color: var(--red100);
	}
}
