@use "../../../src/scss/modules/vars" as *;

.features {
	.container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		@media ( max-width: $tablet_wide ) {
			gap: 2rem;
		}
	}
	.context {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 1024px;
		text-align: center;
		margin: 0 auto;
		@media ( max-width: $tablet_wide ) {
			gap: 1rem;
		}
	}
	.entries {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		@media ( max-width: $tablet_wide ) {
			gap: 1rem;
		}
		@media ( max-width: $mobile_wide ) {
			gap: 2rem;
		}
	}
	.entry {
		box-sizing: border-box;
		width: calc(33.333% - (2rem * 2 / 3));
		display: flex;
		flex-direction: column;
		gap: 2rem;
		@media ( max-width: $tablet_wide ) {
			width: calc( 50% - .5rem );
		}
		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
		img {
			height: 64px;
			width: auto;
		}
	}
	h3 {
		position: relative;
		padding-bottom: 1.5rem;
		&:after {
			position: absolute;
			left: 0;
			top: 100%;
			height: 2px;
			width: 100%;
			background: var(--gradient-horizontal-primary);  
			content: "";
		}
	}
	ul {
		margin: 0;
	}
}