@use "../../../src/scss/modules/vars" as *;

.features {
	.entries {
		flex-wrap: wrap;
	}
	.entry {
		img {
			height: 64px;
			width: auto;
		}
	}
	h3 {
		padding-bottom: 1.5rem;
		@media ( max-width: $tablet_wide ) {
			padding-bottom: 1rem;
		}
	}
	ul {
		margin: 0;
	}
}