@use "modules/vars" as *;

@use "modules/root";
@use "modules/normalize";
@use "modules/fonts";
@use "modules/typography";
@use "modules/cta";
@use "modules/globals";

@use "partials/header";
@use "partials/footer";