<section class="hero multi-background light" style="--background-image: url( '${heroBackgroundImage|attr}' );--background-image-tablet: url( '${heroBackgroundImageTablet|attr}' );--background-image-mobile: url( '${heroBackgroundImageMobile|attr}' );">
	<div class="container">
		<div class="context flex-v gap-2">
			<h1 class="crowdsans crowdsansbold w_700 s_56 lh_125">${heroHeading|html}</h1>
			<div class="crowdsans haasgrotdisp s_24 lh_125">${heroBlurb|html}</div>
			<div class="cta-wrap">
				<a href="${heroCtaURL|attr}" class="cta ${heroCtaClass|boolean}">${heroCtaText}</a>
			</div>
		</div>
	</div>
</section>