<section class="hero">
	<div class="container">
		<div class="hero-container">
			<div class="hero-copy centered">
				<div class="hero-reviews">
					<ul class="list-style-none">
						<li>
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/G2_Logo_Red_RGB.svg?version=1" alt="" />
						</li>
						<li>
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/tr-logo.svg?version=1" alt="" />
						</li>
						<li>
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/Gartner_logo.svg?version=1" alt="" />
						</li>
						<li>
							<img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-stars.svg?version=1" alt="" />
						</li>
						<li>3,300+ reviews</li>
					</ul>
				</div>
				<h1 class="hero-title">${heroHeading}</h1>
				<div class="hero-subtitle">${heroBlurb}</div>
			</div>
		</div>
	</div>
	<div class="logos">
		<div class="container">
			<p class="logos-label">As seen on</p>
			<ul class="logos-logos list-style-none">
				<li><img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/CNBC-logo.svg?version=1" alt="CNBC Logo"></li>
				<li><img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/bloomberg-logo.svg?version=1" alt="Bloomberg Logo"></li>
				<li><img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/cnn-logo.svg?version=1" alt="CNN Logo"></li>
				<li><img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/forbes-logo.svg?version=1" alt="Forbes Logo"></li>
				<li><img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/wsj-logo.svg?version=1" alt="Wall St Journal Logo"></li>
				<li><img src="https://go.crowdstrike.com/rs/281-OBQ-266/images/reuters-logo.svg?version=1" alt="Rueters Logo"></li>
			</ul>
		</div>
	</div>
</section>