.tabs .container {
	flex-direction: column-reverse;
	gap: 32px;
	@media (min-width: 1025px) {
		align-items: center;
		flex-direction: row;
		gap: 64px;
	}
}

.tabs-left{
	@media (min-width: 1025px) {
		width: 40%;
	}
	h3 {
		margin-bottom: 1.5rem;
		@media (min-width: 1025px) {
			margin-bottom: 2.65rem;
		}
	} 
}

.tabs-right {
	margin-bottom: 1.5rem;
	@media (min-width: 1025px) {
		margin-bottom: 0;
		width: 60%;
	}
}

.tabs-copy-item {
	margin-bottom: 0.85rem;
	padding: 1rem;
	border-radius: 16px;
	transition: linear 0.15s all;
	button {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 0 0 40px;
		background: none;
		border: none;
		color: var(--black);
		cursor: pointer;
		font-family: 'CrowdSansBold', sans-serif;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.25;
		text-align: left;
		@media (min-width: 500px) {
			font-size: 1.5rem;
		}
		&:before {
			position: absolute;
			left: 0;
			top: -3px;
			width: 32px;
			height: 32px;
			background: url(https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-plus.svg?version=1) 0 0 / cover no-repeat;
			content: "";
		}
	}
	p {
		display: none;
		margin: 1rem 0 0;
		max-width: 470px;
		padding-left: 40px;
		color: var(--black);
		font-size: 1rem;
		line-height: 1.25;
	}
	&.expanded {
		background: var(--white);
		box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
		button {
			&:before {
				background-image: url(https://go.crowdstrike.com/rs/281-OBQ-266/images/icon-minus.svg?version=1);
			}
		}
		p {
			display: block;
		}
	}
}

.tabs-image {
	border-radius: 32px;
	overflow: hidden;
}