@use "../../../src/scss/modules/vars" as *;

.callout {
	.card {
		background: #000;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		align-items: center;
		flex-direction: row-reverse;
		@media ( max-width: $mobile_wide ) {
			flex-direction: column-reverse;
			gap: 0;
		}
	}
	.context ,
	.graphic {
		box-sizing: border-box;
		width: calc( 50% - 1rem );
		@media ( max-width: $tablet_wide ) {
			width: calc( 50% - .5rem );
		}
		@media ( max-width: $mobile_wide ) {
			width: 100%;
		}
	}
	.context {
		padding: 2rem;
	}
	.graphic {
		min-height: 400px;
		background-position: center center;
		background-size: cover;
		@media ( max-width: $mobile_wide ) {
			min-height: 0;
			aspect-ratio: 16 / 9;
		}
	}
}