<section class="callout spacing-top-none">
	<div class="container">
		<div class="card flex gap-2 light has-radius">
			<div class="context flex-v gap-15">
				<h2 class="crowdsans crowdsansbold w_700 s_32 lh_125">${calloutHeading|html}</h2>
				<div class="crowdsans haasgrotdisp s_16 lh_125">${calloutBlurb|html}</div>
				<div class="cta-wrap">
					<a href="${calloutCtaURL|attr}" class="cta ${calloutCtaClass|boolean}">${calloutCtaText}</a>
					<a href="${calloutCtaURL2|attr}" class="cta secondary ${calloutCtaClass2|boolean}">${calloutCtaText2}</a>
				</div>
			</div>
			<div class="graphic" style="background-image: url( ${calloutImage|attr} );"></div>
		</div>
	</div>
</section>